.cart{
   display: flex;
   flex-direction: column;
   align-items: center;
   .main{
      width: 80%;
      margin-bottom: 60px;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      //background-color:pink;
      .step{
         width:80%;
         margin-bottom: 40px;
         //background-color:blue;
      }
      .body{
         border: 1px solid #CCCCFF;
         //background-color:red;
         width: 100%;
         display: flex;
         flex-direction: row;
         justify-content: space-around;
      }
   }
   
}