.category{
   //background-color: azure;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   .cate{
      //background-color: blue;
      width: 90%;
      margin-bottom: 140px;
      margin-top: 60px;
      display: flex;
      justify-content: space-around;
      flex-direction: row;

      .cateRight{
         width: 70%;
      }
   }
}